.intro
  .titles
    .headline When to Animate
    hr
    a(href="#orientation").title.t1 Orientation
    a(href="#functional-change").title.t2 Functional Change
    a(href="#new-element").title.t3 New Element
    a(href="#highlight").title.t4 Highlight
    a(href="#visual-feedback").title.t5 Visual Feedback
    a(href="#system-status").title.t6 System Status

.slides
  
  
  .slide.slide1
    a(name="orientation")
    .blurb
      .title Orientation
      .sub Answers the Question: 
        strong Where am I now?

    .example.example-1.no-padding
      .belt
        .state.state-1
          input(placeholder="name")
          .button next
        .state.state-2
          .button back


  .slide.slide2
    a(name="functional-change")
    .blurb
      .title Functional Change
      .sub Answers the Question: 
        strong What does this element do now?

    .example.example-2.no-padding
      .switch.is-transitioned
        .on on
        .off off
        .handle


  .slide.slide3
    a(name="new-element")
    .blurb
      .title New Element
      .sub Answers the Question: 
        strong What should I look at?

    .example.example-3
      .layout
        .header
        .alert
        .col.col-1
        .col.col-2
        .col.col-3
          .btn trigger
        .footer


  .slide.slide4
    a(name="highlight")
    .blurb
      .title Highlight
      .sub Answers the Question: 
        strong What is important here?

    .example.example-4
      .ui
        .highlight1
        .highlight2
        .col.col-1
        .col.col-2


  .slide.slide5
    a(name="visual-feedback")
    .blurb
      .title Visual Feedback
      .sub Answers the Question: 
        strong  Is the layout understanding what I am asking it to do?

    .example.example-5
      .email
        .masthead
        .send


  .slide.slide6
    a(name="system-status")
    .blurb
      .title System Status
      .sub Answers the Question: 
        strong Is this working? How long will it take?

    .example.example-6
      .progress-bar
        .progress











